<!DOCTYPE html>
{% extends "debates.html" %}
    {% block rightside %}
        <div class="card border-dark mb-3" style="max-width: 30rem;">
            <div class="card-header font-weight-bold">Type</div>
            <div class="card-body text-dark">
                <h6 class="card-title">{{ check }}</h6>
                <p class="card-text">A ruling is a decision or determination made by the Chair on a 
                                     matter to do with the business or operation of the House.
                </p>
            </div>
        </div>     
    {% endblock %}