<!DOCTYPE html>
{% extends "basic_layout.html" %}
    {% block title %}
        Home
    {% endblock %}
    {% block subheader %}
        <h4>Home</h4>
    {% endblock %}

    {% block body_block %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="card border-dark mb-3" style="max-width: 30rem;">
                    <div class="card-header font-weight-bold">
                        Recently Passed Bills
                        <a  href="{% url 'bills_status' status='Passed' %}">
                            <span style="float:right">
                                <small>View All</small>
                            </span>
                        </a>
                    </div>
                    <div class="card-body text-dark">
                        <ul class="list-group list-group-flush">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Bills</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for i in lat_bills %}
                                    <tr>
                                        <td><a href="{{ i.source }}">{{ i.title }}</a></td>
                                        <td>{{ i.date_of_introduction }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </ul>
                    </div>
                </div> 
            </div>
            <div class="col-sm-6">
                <div class="card border-dark mb-3" style="max-width: 30rem;">
                    <div class="card-header font-weight-bold">
                        Recently Asked Questions
                        <a href="{% url 'questions_year' year='2020' %}">
                            <span style="float:right">
                                <small>View All</small>
                            </span>
                        </a>
                    </div>
                    <div class="card-body text-dark">
                        <ul class="list-group list-group-flush">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Question</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for i in lat_ques %}
                                    <tr>
                                        <td><a href="{{ i.source }}">{{ i.subject }}</a></td>
                                        <td>{{ i.date}}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </ul>
                    </div>
                </div> 
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="card border-dark mb-3" style="max-width: 30rem;">
                    <div class="card-header font-weight-bold">
                        Recent Debates
                        <a href="{% url 'debates_year' year='2020' %}">
                            <span style="float:right">
                                <small>View All</small>
                            </span>
                        </a>
                    </div>
                    <div class="card-body text-dark">
                        <ul class="list-group list-group-flush">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Bill</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for i in lat_deb %}
                                    <tr>
                                        <td><a href="{{ i.source }}">{{ i.title }}</a></td>
                                        <td>{{ i.date}}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </ul>
                    </div>
                </div> 
            </div>
            <div class="col-sm-6">
                <div class="card border-dark mb-3" style="max-width: 30rem;">
                    <div class="card-header font-weight-bold">
                        Recently Lapsed Bills
                        <a href="{% url 'bills_status' status='Lapsed' %}">
                            <span style="float:right">
                                <small>View All</small>
                            </span>
                        </a>
                    </div>
                    <div class="card-body text-dark">
                        <ul class="list-group list-group-flush">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Bill</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for i in lap_bills %}
                                    <tr>
                                        <td><a href="{{ i.source }}">{{ i.title }}</a></td>
                                        <td>{{ i.date_of_introduction }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </ul>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    {% endblock %}