<!DOCTYPE html>
{% extends "basic_layout.html" %}
    {% block title %}
        Home
    {% endblock %}
    {% block subheader %}
        <h4>Home</h4>
    {% endblock %}

    {% block body_block %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="card border-dark mb-3" style="max-width: 30rem;">
                    <div class="card-header font-weight-bold">Recently Passed Bills</div>
                    <div class="card-body text-dark">
                        <ul class="list-group list-group-flush">
                            {% for i in lat_bills %}
                                <li class="list-group-item"><a href="{{ i.source }}">{{ i.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div> 
            </div>
            <div class="col-sm-6">
                <div class="card border-dark mb-3" style="max-width: 30rem;">
                    <div class="card-header font-weight-bold">Recently Asked Questions</div>
                    <div class="card-body text-dark">
                        <ul class="list-group list-group-flush">
                            {% for i in lat_ques %}
                                <li class="list-group-item"><a href="{{ i.source }}">{{ i.subject }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div> 
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="card border-dark mb-3" style="max-width: 30rem;">
                    <div class="card-header font-weight-bold">Recent Debates</div>
                    <div class="card-body text-dark">
                        <ul class="list-group list-group-flush">
                            {% for i in lat_deb %}
                                <li class="list-group-item"><a href="{{ i.source }}">{{ i.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div> 
            </div>
            <div class="col-sm-6">
                <div class="card border-dark mb-3" style="max-width: 30rem;">
                    <div class="card-header font-weight-bold">Recently Passed Bills</div>
                    <div class="card-body text-dark">
                        <ul class="list-group list-group-flush">
                            {% for i in latest_bills %}
                                <li class="list-group-item"><a href="{{ i.source }}">{{ i.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    {% endblock %}