<!DOCTYPE html>
{% extends "members_data.html" %}
    {% block title %}
        Members
    {% endblock %}
    {% block subheader %}
        <h4>Members</h4>
    {% endblock %}

    {% block body_block %}
        <br>
        <!--<table class="table table-hover table-sm table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Name</th>
                    <th scope="col">Party</th>
                    <th scope="col">Constituency</th>
                    <th scope="col">State</th>
                    <th scope="col">Profession</th>
                    <th scope="col">Contact</th>
                    <th scope="col">Criminal Cases</th>
                </tr>
            </thead>
            <tbody>
                {% for i in members%}
                <tr>
                    <td><img src="{{ i.candidate_id.photo.url }}" alt="NA" width="100" height="100"></td>
                    <td>{{ i.candidate_id }}</td>
                    <td>{{ i.party_id }}</td>
                    <td>{{ i.parliamentary_constituency_id }}</td>
                    <td>{{ i.state_id }}</td>
                    <td>{{ i.candidate_id.profession }}</td>
                    <td>{{ i.candidate_id.contact_number }}</td>
                    <td>{{ i.candidate_id.criminal_cases }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>-->
        <div class="col-sm-8">
        {% for i in members%}
            <div class="card mb-3" style="max-width: 1000px;">
                <div class="row no-gutters">
                <div class="col-md-3">
                    <img style="border: 1px solid black;" width="200" height="250" src="{{ i.candidate_id.photo.url }}" alt="NA" />
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'member_name' name=i.candidate_id %}">{{ i.candidate_id }}</a></h5>
                    <p class="card-text"><span class="sp-1">State :</span> {{ i.state_id}}</p>
                    <p class="card-text"><span class="sp-1">Constituency :</span> {{ i.parliamentary_constituency_id}}</p>
                    <p class="card-text"><span class="sp-1">Party :</span> {{ i.party_id}}</p>
                    <p class="card-text"><span class="sp-1">Contact Number :</span> {{ i.candidate_id.contact_number}}</p>
                    </div>
                </div>
                </div>
            </div>
        {% endfor %}

        {% if members.has_other_pages %}
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {% if check is None %}
                        {% if members.num_pages != 1 %}
                            <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                        {% else %}
                            <li class="page-item disabled"><a class="page-link" href="#">First</a></li>
                        {% endif %}
                        {% if members.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page={{ members.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                            <li class="page-item disabled"><a class="page-link" href="#">&laquo;</a></li>
                        {% endif %}
                        {% for i in members.paginator.page_range %}
                            {% if members.number == i %}
                                <li class="page-item active"><a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a></li>
                            {% elif members.number > i|add:"-5" and members.number < i|add:"+5"%}
                                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if members.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{ members.next_page_number }}">&raquo;</a></li>
                        {% else %}
                            <li class="page-item disabled"><a class="page-link" href="#">&raquo;</a></li>
                        {% endif %}
                        {% if members.paginator.num_pages != members.number %}
                            <li class="page-item"><a class="page-link" href="?page={{ members.paginator.num_pages }}">Last</a></li>
                        {% else %}
                            <li class="page-item disabled"><a class="page-link" href="#">Last</a></li>
                        {% endif %}

                    {% else %}
                        {% if members.num_pages != 1 %}
                            <li class="page-item"><a class="page-link" href="?{{urlvar}}={{ check }}&page={{ i }}">First</a></li>
                        {% else %}
                            <li class="page-item disabled"><a class="page-link" href="#">First</a></li>
                        {% endif %}
                        {% if members.has_previous %}
                            <li class="page-item"><a class="page-link" href="?{{urlvar}}={{ check }}&page={{ members.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                            <li class="page-item disabled"><a class="page-link" href="#">&laquo;</a></li>
                        {% endif %}
                        {% for i in members.paginator.page_range %}
                            {% if members.number == i %}
                                <li class="page-item active"><a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a></li>
                            {% elif members.number > i|add:"-5" and members.number < i|add:"+5"%}
                                <li class="page-item"><a class="page-link" href="?{{urlvar}}={{ check }}&page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if members.has_next %}
                            <li class="page-item"><a class="page-link" href="?{{urlvar}}={{ check }}&page={{ members.next_page_number }}">&raquo;</a></li>
                        {% else %}
                            <li class="page-item disabled"><a class="page-link" href="#">&raquo;</a></li>
                        {% endif %}
                        {% if members.paginator.num_pages != members.number %}
                            <li class="page-item"><a class="page-link" href="?{{urlvar}}={{ check }}&page={{ members.paginator.num_pages }}">Last</a></li>
                        {% else %}
                            <li class="page-item disabled"><a class="page-link" href="#">Last</a></li>
                        {% endif %}
                    {% endif %}
                </ul>
            </nav>
            {% endif %}
        {% endblock %}
    </div>