<!DOCTYPE html>
{% extends "questions.html" %}
    {% block rightside %}
        <div class="card border-dark mb-3" style="max-width: 30rem;">
            <div class="card-header font-weight-bold">Ministry</div>
            <div class="card-body text-dark">
                <h6 class="card-title"><a href="http://moef.gov.in/">{{ check }}</a></h6>
                <p class="card-text">The Ministry of Environment and Forests (MoEF) is the nodal agency in the
                    administrative structure of the Central Government for planning, promotion, co-ordination 
                    and overseeing the implementation of India's environmental and forestry policies and programmes. 
                </p>
            </div>
        </div>     
    {% endblock %}