<!DOCTYPE html>
{% extends "members_data.html" %}
    {% block title %}
        Legislature
    {% endblock %}
    {% block subheader %}
        <h4>Legislature</h4>
    {% endblock %}

    {% block nav %}
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{% url 'members_house' house='Loksabha' %}" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            House
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{% url 'members_house' house='Loksabha' %}">Lok Sabha</a>
                <a class="dropdown-item" href="{% url 'members_house' house='Rajyasabha' %}">Rajya Sabha</a>
            </div>
        </li>
        <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{% url 'members_session' session='252' %}" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Session
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'members_session' session='252' %}">252</a>
                </div>
        </li>
    </ul>
    {% endblock %}


    {% block body_block %}
        <br>
        <div class="row">
            <div class="col-sm-8">
                <table class="table table-hover table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Image</th>
                            <th scope="col">Name</th>
                            <th scope="col">State</th>
                            <th scope="col">Party</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in members %}
                        <tr>
                            <td><img style="border: 1px solid black;" width="100" height="100" src="{{ i.candidate_id.photo.url }}" alt="NA" /></td>
                            <td><a href="{% url 'member_name' house='Rajyasabha' name=i.candidate_id %}">{{ i.candidate_id }}</a></td>
                            <td><a href="{% url 'members_state' house='Rajyasabha' state=i.state_id %}">{{ i.state_id }}</a></td>
                            <td><a href="{% url 'members_party' house='Rajyasabha' party=i.party_id %}">{{ i.party_id }}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            {% if members.has_other_pages %}
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        {% if check is None %}
                            {% if members.num_pages != 1 %}
                                <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                            {% else %}
                                <li class="page-item disabled"><a class="page-link" href="#">First</a></li>
                            {% endif %}
                            {% if members.has_previous %}
                                <li class="page-item"><a class="page-link" href="?page={{ members.previous_page_number }}">&laquo;</a></li>
                            {% else %}
                                <li class="page-item disabled"><a class="page-link" href="#">&laquo;</a></li>
                            {% endif %}
                            {% for i in members.paginator.page_range %}
                                {% if members.number == i %}
                                    <li class="page-item active"><a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a></li>
                                {% elif members.number > i|add:"-5" and members.number < i|add:"+5"%}
                                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if members.has_next %}
                                <li class="page-item"><a class="page-link" href="?page={{ members.next_page_number }}">&raquo;</a></li>
                            {% else %}
                                <li class="page-item disabled"><a class="page-link" href="#">&raquo;</a></li>
                            {% endif %}
                            {% if members.paginator.num_pages != members.number %}
                                <li class="page-item"><a class="page-link" href="?page={{ members.paginator.num_pages }}">Last</a></li>
                            {% else %}
                                <li class="page-item disabled"><a class="page-link" href="#">Last</a></li>
                            {% endif %}
    
                        {% else %}
                            {% if members.num_pages != 1 %}
                                <li class="page-item"><a class="page-link" href="?{{urlvar}}={{ check }}&page={{ i }}">First</a></li>
                            {% else %}
                                <li class="page-item disabled"><a class="page-link" href="#">First</a></li>
                            {% endif %}
                            {% if members.has_previous %}
                                <li class="page-item"><a class="page-link" href="?{{urlvar}}={{ check }}&page={{ members.previous_page_number }}">&laquo;</a></li>
                            {% else %}
                                <li class="page-item disabled"><a class="page-link" href="#">&laquo;</a></li>
                            {% endif %}
                            {% for i in members.paginator.page_range %}
                                {% if members.number == i %}
                                    <li class="page-item active"><a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a></li>
                                {% elif members.number > i|add:"-5" and members.number < i|add:"+5"%}
                                    <li class="page-item"><a class="page-link" href="?{{urlvar}}={{ check }}&page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if members.has_next %}
                                <li class="page-item"><a class="page-link" href="?{{urlvar}}={{ check }}&page={{ members.next_page_number }}">&raquo;</a></li>
                            {% else %}
                                <li class="page-item disabled"><a class="page-link" href="#">&raquo;</a></li>
                            {% endif %}
                            {% if members.paginator.num_pages != members.number %}
                                <li class="page-item"><a class="page-link" href="?{{urlvar}}={{ check }}&page={{ members.paginator.num_pages }}">Last</a></li>
                            {% else %}
                                <li class="page-item disabled"><a class="page-link" href="#">Last</a></li>
                            {% endif %}
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}
            </div>
            <div class="col-sm-4">

            </div>
        </div>
    {% endblock %}
        